body {
  margin: 0;
  font-family: Helvetica;
  background-color: white;

  ;


}
#logo {
  height: 100%;
  /*widows: 100px;*/
  /*display: block;*/



}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;

}

footer {
  text-align-last: center;

}
